body {
    margin: 0;
    font-family: Arial, sans-serif;  
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; 
    background-image: url('https://p2.trrsf.com/image/fget/cf/774/0/images.terra.com/2013/04/11/suricatemostralinguagrosby1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.title {
    font-size: 2.5rem;
    color: #fdfdfd;
    margin-bottom: 20px;
}

.button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff; 
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #0056b3; 
}